@use './variables';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: unset;
  
}

button, a, li {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

body {
  overflow-x: hidden;
  font-size: 14px;
}