
  $DarkBlueIntroAndEmailSignUpBackground: hsl(217, 28%, 15%);
  $DarkBlueMainBackground: hsl(218, 28%, 13%);
  $DarkBlueFooterBackground: hsl(216, 53%, 9%);
  $DarkBlueTestimonialsBackground: hsl(219, 30%, 18%);

  /*### Accent*/

  $CyanInsideCallToActionGradient: #65e2d9;
  $BlueInsideCallToActionGradient: #339ecc;
  $LightRedError: hsl(0, 100%, 63%);

  /*### Neutral*/

  $White: hsl(0, 0%, 100%);

  /*Fonts*/

  /*----headings, call-to-actions, header navigation------*/

  $RaleWay: 'Raleway', sans-serif;


  /*--------body ------------*/
  $OpenSans: 'Open Sans', sans-serif;
